services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: ${DB_USER}   
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U agri_user -d agri_db"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build: .
    command: gunicorn agri_backend.wsgi:application --bind 0.0.0.0:8000 --workers 3 --reload
    volumes:
      - .:/app  # Add this line - maps your code into container
      - ./staticfiles:/app/staticfiles
      - ./media:/app/media
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    restart: unless-stopped

volumes:
  postgres_data: