# Django & REST Framework
Django>=5.0
djangorestframework>=3.15
djangorestframework-simplejwt>=5.3

# Database
psycopg2-binary>=2.9.9
# ou si vous avez des problèmes avec psycopg2-binary:
psycopg2>=2.9.9

# Environnement & Développement
python-dotenv>=1.0
# Pour le simulateur (Membre 2)
scikit-learn
requests>=2.31.0
numpy>=1.24.0
pandas>=2.0.0  # Optionnel pour ML plus tard

# Outils de développement
black>=24.0  # Formatteur de code
pylint-django>=2.5  # Linter